[submodule "frontend"]
	path = frontend
	url = https://github.com/tymem12/ear-defender-frontend.git
	branch = main
[submodule "connector"]
	path = connector
	url = https://github.com/tymem12/ear-defender-connector.git
	branch = main
[submodule "scraper"]
	path = scraper
	url = https://github.com/tymem12/ear-defender-scraper.git
	branch = main
[submodule "model"]
	path = model
	url = https://github.com/tymem12/ear-defender-model.git
	branch = main
